<html>
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" href="assets/demo.css" />
  <link rel="stylesheet" type="text/css" href="assets/newstyle.css" />
  <link rel="stylesheet" type="text/css" href="assets/style.css" />

  <link rel="stylesheet" type="text/css" href="assets/item.css" />

  <style type="text/css">
      h1{text-align:center;font-size:54px;font-family:Times,serif;font-variant:small-caps;color:#330066;}
  </style>
</head>
<body>


<% total = 0 %>
<table>
  <% @cart.each do |id, quantity| %>
      <% item = Item.find(id) %>
      <tr>
        <td ><%=  image_tag(item.image) %></td>
        <td><%= item.title %></td>
        <td width="60"><%= quantity %></td>
        <td width="60"><%= number_to_currency item.price, :unit => "&euro;" %></td>
        <td width="60"><%= number_to_currency item.price * quantity, :unit => "&euro;" %></td>
      </tr>
      <% total += quantity * item.price %>
  <% end %>
  <tr>
    <td colspan="4">Total:</td>
    <td><%= number_to_currency total, :unit => "&euro;" %></td>
     <td><u><b><%= link_to "Proceed to Payment", :controller => :payment, :action => :index %></b></u></td>
  </tr>
</table>
</body>
</html>